.ant-calendar-ym-select {
  color: #086397;
}

.ant-calendar-selected-day .ant-calendar-date {
  background: #086397;
  color: #ffffff;
}

.ant-calendar-month-panel-year-select-content {
  color: #086397;
}

.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month {
  color: #ffffff !important;
  background: #086397;
}

.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month:hover {
  background: #086397;
}

.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year {
  color: #ffffff !important;
  background: #086397;
}

.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year:hover {
  background: #086397;
}

.ant-calendar-year-panel-decade-select-content {
  color: #086397;
}

.ant-calendar-decade-panel-century {
  color: #086397;
  font-weight: 500;
}

.ant-calendar-decade-panel-selected-cell .ant-calendar-decade-panel-decade {
  color: #ffffff !important;
  background: #086397;
}

.ant-calendar-decade-panel-selected-cell
  .ant-calendar-decade-panel-decade:hover {
  background: #086397;
}

.ant-calendar-today .ant-calendar-date {
  color: #086397;
  border-color: #086397;
  background: #ffffff;
}

.ant-calendar-footer .ant-calendar-footer-btn {
  color: #086397;
}

.ant-calendar-selected-date .ant-calendar-date:hover {
  background: #086397;
}

.ant-calendar-date {
  -webkit-transition: none;
  transition: none;
}

.ant-calendar-date:hover {
  background: #086397;
  cursor: pointer;
  color: #ffffff !important;
}

.ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date {
  background-color: #f5f5f5;
}

.ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date::before {
  border: 0;
  background: transparent !important;
}

.ant-calendar-today .ant-calendar-date {
  color: #bdbdbd;
  border: 0;
  font-weight: 100;
}
